<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script>
        function initiateScan() {
            document.getElementById("scanStatus").innerText = "Scanning..."; 
            
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/scan", true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("scanStatus").innerText = "Scan complete!";
                    window.location.href = "/scan_results"; // Redirect to the scan results page
                }
            };
            xhr.send();
        }
    </script>
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    <p id="scanStatus"></p> <!-- Display scan status here -->
    <button onclick="initiateScan()">Scan Network</button>
</body>
</html>
